<div class="whitebox loading beaker">
<h3>Getting ready to install app...</h3>
<img class="loader" src="/assets/images/labs-loader.gif"/>
</div>
<div class="whitebox loading job">
<h3>Checking to see if it's done...</h3>
<img class="loader" src="/assets/images/clock-loader.gif"/>
</div>